@import "../../styles/mixins";

.scrollContainer {
  padding-bottom: 10px;

  display: flex;
  flex-direction: row;

  width: 100%;

  overflow-x: auto;
  overflow-y: hidden;

  @include ScrollBar;
}

@include mobile-width {
  .scrollContainer {
    gap: 16px;
  }
}

@include desktop-width {
  .scrollContainer {

  }
}