@import "../../styles/mixins";

.shortFormContainer {
  &__sobankRedesign {
    border-top: 5px solid $redesign-gray-2;

    background-color: $white;
    box-shadow:
            0 7px 8px 0 rgba(157, 177, 189, 0.10),
            0 5px 22px 0 rgba(157, 177, 189, 0.08),
            0 12px 17px 0 rgba(157, 177, 189, 0.10);
  }
}

.scrollWindow {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  transition: translate .5s ease-in-out;

  overflow-x: hidden;

  &__item {
    flex: 1 1 0;

    min-width: 100%;

    box-sizing: border-box;
  }
}

.buttons {
  &__sobank {

  }

  &__sobankRedesign {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@include mobile-width {
  .shortFormContainer {
    &__sobankRedesign {
      padding: 24px 16px 40px;

    }
  }

  .buttons {
    &__sobank {

    }

    &__sobankRedesign {
      width: 100%;

      gap: 8px;

      &__btn {
        width: 100%;
      }

      &__reset {
        background-color: $redesign-black
      }
    }
  }
}

@include desktop-width {
  .shortFormContainer {

  }
}