@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

@font-face {
  font-family: "Tahoma", sans-serif;
  src: url('fonts/Tahoma/Tahoma.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: local('HelveticaNeueCyr-Bold');
  src: url('fonts/Helvetica/HelveticaNeueCyr-Bold.ttf') format('truetype');
  src: url('fonts/Helvetica/HelveticaNeueCyr-Bold.woff') format('woff');
  src: url('fonts/Helvetica/HelveticaNeueCyr-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: local('./fonts/Helvetica/HelveticaNeueCyr-Medium');
  src: url('fonts/Helvetica/HelveticaNeueCyr-Medium.ttf') format('truetype');
  src: url('fonts/Helvetica/HelveticaNeueCyr-Medium.woff') format('woff');
  src: url('fonts/Helvetica/HelveticaNeueCyr-Medium.woff2') format('woff2');
  font-weight: 550;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: local('./fonts/Helvetica/HelveticaNeueCyr-Roman');
  src: url('fonts/Helvetica/HelveticaNeueCyr-Roman.ttf') format('truetype');
  src: url('fonts/Helvetica/HelveticaNeueCyr-Roman.woff') format('woff');
  src: url('fonts/Helvetica/HelveticaNeueCyr-Roman.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}