@import "variables";
@import "modal";

//MEDIA
@mixin mobile-width {
  @media screen and (max-width: $mobile-width) {
    @content;
  }
}
@mixin desktop-width {
  @media screen and (min-width: $desktop-width) {
    @content;
  }
}

//BACKGROUNDS
@mixin BackgroundImage {
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  @content;
}

//TEXT
@mixin MainText($selector, $ff, $fs, $lh, $fw, $color) {
  #{$selector} {
    font-family: $ff;
    font-style: normal;
    font-size: $fs;
    line-height: $lh;
    font-weight: $fw;
    color: $color;
  }
}

//UI
@mixin ButtonMain($selector, $bg, $color, $ff, $fs, $lh, $fw, $height, $br) {
  #{$selector} {
    height: $height;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $bg;

    border-radius: $br;

    font-family: $ff;
    font-size: $fs;
    line-height: $lh;
    font-weight: $fw;

    color: $color;
  }
}

@mixin ScrollBar($color) {
  &::-webkit-scrollbar {
    height: 1px; /* height of the entire scrollbar */
    width: 1px;
  }

  &::-webkit-scrollbar-track {
    background: transparent; /* color of the tracking area */

    border-radius: 50%; /* roundness of the scroll track */
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color; /* color of the scroll thumb */
    border-radius: 50%; /* roundness of the scroll thumb */
    border: 3px solid $color; /* creates padding around scroll thumb */
  }
}

@mixin Arrow($selector, $color, $rotate, $width, $height) {
  #{$selector} {
    &::after {
      content: '';

      position: absolute;
      right: 0;
      top: 50%;

      width: $width;
      height: $height;

      background-color: $color;

      transform: translateY(50%);
      rotate: $rotate;

      clip-path: polygon(50% 0, 100% 100%, 0 100%);
    }
  }
}