//SIZES
$mobile-width: 991.8px;
$desktop-width: 992px;

//COLORS
$white: #ffffff;
$semi-white-color: #e7e7e7;
$main-orange-color: #FA614A;
$dark-text-color: #1c1c1e;
$gray-text-color: #6c6c6c;
$gray-background: #ececec;
$main-blue-color: #317EB0;
$dark-blue-color: #03318c;
$light-gray-color: #c4c4c4;
$light-blue-color: rgba(24,144,255,.7);

//FONTS
$main-font: 'HelveticaNeurCyr', sans-serif;
$support-font: 'Tahoma', sans-serif;
$font-subModal: 'Inter', sans-serif;