//SIZES
$mobile-width: 991.8px;
$desktop-width: 992px;

//COLORS
$white: #ffffff;
$main-orange-color: #FA614A;

//FONTS
$main-font: 'HelveticaNeurCyr', sans-serif;
$support-font: 'Tahoma', sans-serif;
$font-subModal: 'Inter', sans-serif;