@import "../../styles/mixins";

.mainBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  border-radius: 5px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    @include MainText('&', $sobank-main-font, 12px, normal, 500, $sobank-dark-text-color);
  }
}

.blue {
  box-shadow: none;
}

.white {
  box-shadow: 0 2px 5px 0 rgba(38, 53, 104, 0.25);
}


@include mobile-width {
  .mainBlock {
    margin-top: 14px;

    gap: 16px;

    &__content {
      gap: 24px;
    }

    &__title {
      width: 100%;

      text-align: center;
    }
  }

  .white {
    padding: 16px;
  }

  .blue {
    padding: 16px 0;
  }
}

@include desktop-width {
  .mainBlock {

  }

  .white {

  }

  .blue {

  }
}