@import "../styles/mixins";

.main {
  .sobank {

  }

  .sobankRedesign {
    background-color: $redesign-gray-1;
  }
}

@include mobile-width {
  .main {
    &__sobank {
      padding-top: 90px;
    }

    &__sobankRedesign {
      padding-top: 60px;
    }
  }
}