@import "../../styles/mixins";

.header {
  background-color: $white;

  z-index: 10;
}

@include mobile-width {
  .header {
    position: fixed;
    top: 0;

    box-sizing: border-box;

    width: 100%;

    padding: 16px 20px;

    &__btnLogo {
      width: 77px;
      height: 28px;

      border: none;
      outline: none;

      @include BackgroundImage {
        background-image: url("../../assets/Header/headerLogoSobank_mobile.svg");
      }
    }
  }
}

@include desktop-width {
  .header {

  }
}