@import "../../../styles/mixins";

.authModal {
  padding: 30px;

  position: fixed;

  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 5px;

  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 100px;

  scale: 0;

  &__active {
    position: relative;

    scale: 1;
  }

  &__content {
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
}

.closeBtn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 25px;
  height: 25px;

  border-radius: 50%;

  background-color: $sobank-light-gray-color;

  rotate: 0;
  transition: rotate .5s ease-in-out;

  &:before, &:after {
    content: '';

    position: absolute;

    width: 15px;
    height: 2px;

    border-radius: 5px;

    background-color: $white;
  }

  &:before {
    margin-left: auto;

    rotate: 45deg;
  }

  &:after {
    rotate: -45deg;
  }
}

.content {

  &__phoneTitle {
    width: 100%;

    text-align: center;
  }

  &__changePhoneBtn {
    margin-top: 16px;

    background-color: transparent;

    text-align: start;
    font-family: $sobank-support-font;
    color: $sobank-light-blue-color;
  }
}

.codeBlock {
  margin-top: 20px;

  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;

  &__label {
    width: 100%;

    text-align: center;
    font-family: $sobank-support-font;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
  }
}

.sendCodeBtn {
  margin-top: 8px;

  color: $sobank-light-blue-color;
  font-family: $sobank-support-font;
  white-space: pre-wrap;

  &__active {
    margin-top: 12px;

    cursor: pointer;
  }
}

@include mobile-width {
  .authModal {
    box-sizing: border-box;

    max-width: calc(100% - 40px);
  }

  .content {

    &__phoneTitle {
      @include MainText('&', $sobank-main-font, 12px, normal, 500, $sobank-dark-text-color);
    }

    &__changingPhoneBtn {
      font-size: 13px;
    }
  }

  .sendCodeBtn {
    font-size: 12px;
  }
}

@include desktop-width {
  .authModal {
    max-width: 400px;
  }

  .closeBtn {
    cursor: pointer;

    &:hover {
      rotate: 360deg;
      transition: rotate .5s ease-in-out;
    }
  }

  .content {

    &__phoneTitle {
      @include MainText('&', $sobank-main-font, 12px, normal, 500, $sobank-dark-text-color);
    }

    &__changingPhoneBtn {
      font-size: inherit;
    }
  }

  .sendCodeBtn {
    font-size: inherit;
  }
}