@import "../../../styles/mixins";

.authModal {
  padding: 30px;

  position: fixed;

  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 5px;

  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 100px;

  scale: 0;

  &__active {
    position: relative;

    scale: 1;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    max-width: 90%;
  }
}

.closeBtn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 25px;
  height: 25px;

  border-radius: 50%;

  background-color: $light-gray-color;

  rotate: 0;
  transition: rotate .5s ease-in-out;

  &:before, &:after {
    content: '';

    position: absolute;

    width: 15px;
    height: 2px;

    border-radius: 5px;

    background-color: $white;
  }

  &:before {
    margin-left: auto;

    rotate: 45deg;
  }

  &:after {
    rotate: -45deg;
  }
}

.content {

  &__changePhoneBtn {
    margin-top: 16px;

    background-color: transparent;

    text-align: start;
    font-family: $support-font;
    color: $light-blue-color;
  }
}

@include mobile-width {
  .authModal {
    box-sizing: border-box;

    max-width: calc(100% - 40px);
  }

  .content {

    &__phoneTitle {
      @include ContentTitle {
        font-size: 15px;
        font-weight: 500;
      }
    }

    &__changingPhoneBtn {
      font-size: 13px;
    }
  }
}

@include desktop-width {
  .authModal {
    max-width: 400px;
  }

  .closeBtn {
    cursor: pointer;

    &:hover {
      rotate: 360deg;
      transition: rotate .5s ease-in-out;
    }
  }

  .content {

    &__phoneTitle {
      @include ContentTitle {
        font-size: 24px;
        font-weight: 500;
      }
    }

    &__changingPhoneBtn {
      font-size: inherit;
    }
  }
}