@import "../../styles/mixins";

.footer {
  box-shadow: 0 2px 5px 0 rgba(38, 53, 104, 0.25);
}

.accordions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__text {
    @include ContentSubtitle;
  }

  &__link {
    text-decoration: underline;
    text-underline-offset: 3px;

    background-color: transparent;

    @include ContentSubtitle;

    &:disabled {
      text-decoration: none;
    }
  }

  &__linkActive {
    color: #000;
  }
}

.copyright {
  font-family: $support-font;
  color: $gray-text-color;
  font-weight: 400;
}

@include mobile-width {
  .footer {
    margin-top: 40px;
    padding: 16px 0 20px;
  }

  .accordions {
    margin-top: 20px;

    gap: 16px;

    &__text {
      font-size: 12px;
    }
  }

  .copyright {
    margin-top: 12px;

    font-size: 12px;
    line-height: 20px;
  }
}

@include desktop-width {
  .footer {

  }

  .accordions {

    &__link {
      cursor: pointer;

      &:disabled {
        cursor: default;
      }
    }
  }
}