@import "../../styles/mixins";

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__title {
    @include MainText('&', $sobank-main-font, 12px, normal, 500, $sobank-dark-text-color);
  }

  &__subtitle {
    @include MainText('&', $sobank-main-font, 12px, normal, 500, $sobank-dark-text-color);
  }
}

@include mobile-width {
  .contacts {
    margin-top: 16px;

    gap: 4px;
  }
}

@include desktop-width {
  .contacts {

  }
}