@import '../../styles/mixins';

.wrapper {
  margin: 0;

  position: relative;

  &__sobank {

  }

  &__sobankRedesign {

  }
}

@include mobile-width {
  .wrapper {
    position: relative;

    &__sobank {
      padding: 0 20px;
    }

    &__sobankRedesign {
      padding: 0 16px;
    }
  }
}

@include desktop-width {
  .wrapper {

    &__sobank {

    }

    &__sobankRedesign {

    }
  }
}