@import "../../styles/mixins";

.banner {
  &__sobank {
    position: relative;

    display: flex;
    flex-direction: column;
  }

  &__sobankRedesign {
    display: flex;
    flex-direction: column;

    position: relative;

    background-color: $redesign-gray-1;

    border-radius: 30px;
  }
}

.content {
  &__sobank {
    position: absolute;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__sobankRedesign {
    position: absolute;

    display: flex;
    flex-direction: column;
  }
}

.imgContainer {
  &__sobank {
    position: absolute;
  }

  &__sobankRedesign {
    width: 100%;
    height: 279px;

    position: relative;

    &__img {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
    }
  }
}

.btnSubmit {
  &__sobank {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $sobank-main-orange-color;

    border-radius: 10px;
  }

  &__sobankRedesign {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $redesign-blue_1;
  }
}

@include mobile-width {
  .banner {
    &__sobank {
      height: 305px;

      border-bottom: 1px solid $white;

      background-color: $white;
      background-image: linear-gradient(270.29deg, rgb(250, 97, 74) 16.04%, rgba(250, 97, 74, 0.5) 65.38%);
    }

    &__sobankRedesign {
      margin: 56px 0 40px;

      height: 499px;
    }
  }

  .content {
    &__sobank {
      bottom: 100px;
      left: 12px;
      right: 12px;

      justify-content: flex-end;
      gap: 12px;


      &__title {
        white-space: pre-wrap;

        @include MainText('&', $sobank-main-font, 12px, normal, 500, $sobank-dark-text-color);
      }

      &__subtitle {
        white-space: pre-wrap;

        @include MainText('&', $sobank-main-font, 12px, normal, 500, $sobank-dark-text-color);
      }
    }

    &__sobankRedesign {
      top: 279px;
      left: 16px;
      right: 16px;

      gap: 8px;

      text-align: center;

      &__title {
        @include MainText('&', $redesign-main-font, 20px, 28px, 700, $redesign-black);
      }

      &__subtitle {
        @include MainText('&', $redesign-main-font, 16px, 24px, 400, $redesign-gray-2);
      }
    }
  }

  .imgContainer {
    &__sobank {
      top: 0;
      left: 0;

      width: 100%;
      height: 305px;

      background-image: linear-gradient(180deg,hsla(0,0%,77%,0) 64.18%,#fff 89.06%);

      &__img {
        position: absolute;

        right: 0;
      }
    }

    &__sobankRedesign {

    }
  }

  .btnSubmit {
    &__sobank {
      bottom: 5%;
      left: 20px;
      right: 20px;

      min-height: 48px;

      z-index: 2;
    }

    &__sobankRedesign {
      bottom: 24px;
      left: 16px;
      right: 16px;

      min-height: 60px;
    }
  }
}

@include desktop-width {
  .banner {

  }

  .content {
    &__sobank {
      &__title {
        @include MainText('&', $sobank-main-font, 12px, normal, 500, $sobank-dark-text-color);
      }
    }

    &__sobankRedesign {

    }
  }
}