@import "../../styles/mixins";

.banner {
  position: relative;

  display: flex;
  flex-direction: column;
}

.content {
  position: absolute;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.imgContainer {
  position: absolute;
}

.btnSubmit {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $sobank-main-orange-color;
}

@include mobile-width {
  .banner {
    height: 305px;

    border-bottom: 1px solid $white;

    background-color: $white;
    background-image: linear-gradient(270.29deg, rgb(250, 97, 74) 16.04%, rgba(250, 97, 74, 0.5) 65.38%);
  }

  .content {
    bottom: 100px;
    left: 12px;
    right: 12px;

    justify-content: flex-end;
    gap: 12px;


    &__title {
      white-space: pre-wrap;

      @include MainText('&', $sobank-main-font, 12px, normal, 500, $sobank-dark-text-color);
    }

    &__subtitle {
      white-space: pre-wrap;

      @include MainText('&', $sobank-main-font, 12px, normal, 500, $sobank-dark-text-color);
    }
  }

  .imgContainer {
    top: 0;
    left: 0;

    width: 100%;
    height: 305px;

    background-image: linear-gradient(180deg,hsla(0,0%,77%,0) 64.18%,#fff 89.06%);

    &__img {
      position: absolute;

      right: 0;
    }
  }

  .btnSubmit {
    bottom: 5%;
    left: 20px;
    right: 20px;

    min-height: 48px;

    z-index: 2;
  }
}

@include desktop-width {
  .banner {

  }

  .content {

    &__title {
      @include MainText('&', $sobank-main-font, 12px, normal, 500, $sobank-dark-text-color);
    }
  }
}